section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section h1 {
    margin-top: 0;
    color:blue
  }
  
  section h4 {
    margin-bottom: 0.5rem;
    color: blue;
  }
  
  section p {
    margin-bottom: 1rem;
  }
  
  .Topicos  ul {
    list-style-type: disc;
    padding-left: 2rem;
  }
  .Topicos ul {
    list-style-type: none;
    padding: 0; 
  }
  
  .Topicos li {
    padding: 5px;
    background-color: #0066cc;
    border-bottom: 1px solid #ccc;
    border-radius: 20%;
  }
  
  .Topicos li:last-child {
    border-bottom: none;
  }
  
  section a {
    color: #0066cc;
    text-decoration: none;
  }
  @media screen and (min-width:800px) {
    .Topicos{
        list-style-type: none;
        padding: 0;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }
