* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
.cabecalho a {
    text-decoration: none;
    color: white;
}

.cabecalho {
    background: #727272;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

.menu {
    display: flex;
    justify-content: left;
}

.menu li {
    padding: 10px;
    list-style: none;
}

header {
    justify-content: left;
}
.Perfil{
    display: block;
}
.Perfil img {
    justify-content:center;
    max-width: 250px;
    border-radius: 50%;
}
.conteudo-sugerido img{
    max-width: 900px;
    max-height: 350px;
}
.carousel-item img {
    width: 900px;
    height: 350px;
  }
section {
    border: 10px solid;
    border-color: black;
    margin: 10px;
    padding: 10px;
}
footer {

    margin: 10px;
}

footer h1 {
    background-color: blueviolet;
    grid-row: 1/2;
    grid-column: 1/6;
}   



.rodape img{
    margin: 20px;
    width: 200px;
}
.fotos {
    display: grid;
}
.fotos li {
    justify-content: center;

}
@media screen and (min-width:800px) {
    .rodape li{
        display: inline;
    }
    .fotos{
        display: flex;
    }
    .profile-card{
        display: grid ;
        grid-template-columns: 1fr 2fr;
    }
    .profile-img{
        grid-column: 1;
    }
    .profile-text{
        grid-column: 2;
    }
}
